<div class="chart-container">
  <div class="chart-header">
    <h4>
      Explore a variety of interactive chart types using real-world data! Choose
      from stock prices, weather trends, or GDP statistics, and visualize them
      in the format that best fits your analysis—bar, line, pie, and more. Use
      the search tool to narrow down results and tailor the view to your needs.
    </h4>
  </div>
  <div class="chart-options-container">
    <mat-form-field>
      <mat-label>Choose a graph option</mat-label>
      <mat-select
        [value]="selectedChartType()"
        (valueChange)="selectedChartType.set($event)"
      >
        <mat-option value="bar">Bar (Vertical)</mat-option>
        <mat-option value="line">Line</mat-option>
        <mat-option value="doughnut">Doughnut</mat-option>
        <mat-option value="pie">Pie</mat-option>
        <mat-option value="radar">Radar</mat-option>
        <mat-option value="polarArea">Polar Area</mat-option>
        <mat-option value="bubble">Bubble</mat-option>
        <mat-option value="scatter">Scatter</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose what type of data you're interested in</mat-label>
      <mat-select
        [value]="selectedDataType()"
        (valueChange)="selectedDataType.set($event)"
      >
        <mat-option value="weather">Weather</mat-option>
        <mat-option value="stocks">Stocks</mat-option>
        <mat-option value="gdp">GDP</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-stroked-button (click)="onDownloadChart()">
      Download Chart
    </button>
    <!--- Won't support weather, sorry-->
    @if (selectedDataType() === 'stocks' || selectedDataType() === 'gdp') {
    <!-- <mat-form-field class="search-field">
      <input matInput [formControl]="searchValue" placeholder="Search" />
      <button mat-stroked-button (click)="onSearch()">
        <mat-icon aria-label="Search icon" fontIcon="search"></mat-icon>
      </button>
    </mat-form-field> -->
    <mat-form-field class="search-bar" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text" [formControl]="searchValue" (keyup.enter)="onSearch()" />
        <button mat-icon-button matSuffix (click)="onSearch()" aria-label="Search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      
    }
  </div>

  <!-- button to import your own csv file with -->
  <!-- <button mat-raised-button color="primary" (click)="onImportCSV()">Import CSV</button>
    <input type="file" (change)="onFileSelected($event)" accept=".csv" /> -->
  <div class="chart-display-container">
    @if (isLoading) {
    <mat-progress-spinner></mat-progress-spinner>
    } @else {
    <canvas id="ser375Chart" class="chart"></canvas>
    }
  </div>
</div>
