<div class="chart-container">
  <div class="chart-header">
    <h4>
      Explore a variety of interactive chart types using real-world data! Choose
      from stock prices, weather trends, or GDP statistics, and visualize them
      in the format that best fits your analysis—bar, line, pie, and more. Use
      the search tool to narrow down results and tailor the view to your needs.
    </h4>
  </div>
  <div class="chart-options-container">
    <mat-form-field appearance="outline">
      <mat-label>Select a graph option</mat-label>
      <mat-select
        [value]="selectedChartType()"
        (valueChange)="selectedChartType.set($event)"
        appearance="outline"
      >
        <mat-option value="bar">Bar</mat-option>
        <mat-option value="doughnut">Doughnut</mat-option>
        <mat-option value="line">Line</mat-option>
        <mat-option value="pie">Pie</mat-option>
        <mat-option value="polarArea">Polar Area</mat-option>
        <mat-option value="radar">Radar</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select a data category</mat-label>
      <mat-select
        [value]="selectedDataType()"
        (valueChange)="selectedDataType.set($event)"
      >
        <mat-option value="custom">Custom</mat-option>
        <mat-option value="gdp">GDP</mat-option>
        <!---I ran out of API calls :/-->
        <!-- <mat-option value="stocks">Stocks</mat-option> -->
        <mat-option value="weather">Weather</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-icon-button
      class="icon-button"
      title="Download Chart"
      [disabled]="isDownloadDisabled()"
      (click)="onDownloadChart()"
    >
      <mat-icon>download</mat-icon>
    </button>

    @if (selectedDataType() === 'stocks' || selectedDataType() === 'gdp') {
    <!---https://material.angular.dev/components/button/overview -->
    <mat-form-field class="search-bar" appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        type="text"
        [formControl]="searchValue"
        (keyup.enter)="onSearch()"
      />
      <button mat-icon-button matSuffix  class="icon-button" (click)="onSearch()" title="Search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    } @if (selectedDataType() === 'weather') {
    <div class="coordinates-container">
      <mat-form-field appearance="outline">
        <mat-label>Latitude</mat-label>
        <input matInput type="number" [formControl]="latitude" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Longitude</mat-label>
        <input matInput type="number" [formControl]="longitude" />
      </mat-form-field>
      <button
        mat-icon-button
        matSuffix
        class="icon-button"
        (click)="onSearch()"
        title="Search"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
    } @if (selectedDataType() === 'custom') {
    <button mat-icon-button  class="icon-button" (click)="uploadFile.click()" title="Upload CSV">
      <mat-icon>upload_file</mat-icon>
    </button>
    <input
      #uploadFile
      (change)="upload($event)"
      type="file"
      accept=".csv"
      class="file-input"
    />
    }
  </div>

  @if (selectedChartType() != null && selectedDataType() != null && hasNoData()) {
  <div class="chart-display-container">
    <canvas id="ser375Chart"></canvas>
  </div>
    }
</div>
